body {
  background-color: #ffcc00;
  padding: 20px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.mainHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 60px;
  color: #006666;
}

.headerLinks li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

.headerLinks {
  background-color: #111;
  padding: 0;;
}

.headerLinks li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content {
  background-color: #fff;
  padding: 20px;
}

.active {
  background-color: #0099ff;
}
