.todoListMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #66CC99;
  border-radius: 5px;
  width: 175px;
}

.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066ff;
  color: #fff;
  border: 2px solid #0066ff;
  border-radius: 5px;
  cursor: pointer;
}

.todoListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
}

.todoListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 250px;
}

.todoListMain .theList li {
  color: #333;
  background-color: #33CC99;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.todoListMain .theList li:hover {
  background-color: #CC9999;
  color: #fff;
}
